<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link href="../../vendor/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <style type="text/css">
        .datatable-container {
            margin: 20px;
        }
    </style>
</head>

<body>
<div class="datatable-container search-container">
    <table id="searchTable" class="table borderless" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>
                <input id="search-1" name="ACCOUNTNAME" type="text" placeholder="Search Account Name" />
            </th>
            <th>
                <input id="search-2" name="ACCOUNTNUMBER" type="text" placeholder="Search Account Number" />
            </th>
            <th>
                <input id="search-3" name="MDMACCOUNTID" type="text" placeholder="Search MDM Account ID" />
            </th>
            <th>
                <input id="search-4" name="DAQAMETADATA_STATE" type="text" placeholder="Search DAQA State" />
            </th>
            <th>
                <input id="search-5" name="DAQAMETADATA_CLUSTERID" type="text" placeholder="Search Cluster Id" />
            </th>
            <!--<th>
                <input id="searchButton" class="customSearch" type="button" value="Search"/>
            </th>
            <th>
                <input id="clearButton" class="customSearch" type="button" value="Clear"/>
            </th>-->
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="datatable-container data-container">
    <table id="accountTable" class="table table-striped table-bordered" cellspacing="0" width="100%">

        <thead>
        <!--       <tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>-->
        </thead>
        <tfoot>
        <!--        <tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>-->
        </tfoot>
        <tbody>
        <!--        <tr>
<td>Tiger Nixon</td>
<td>System Architect</td>
<td>Edinburgh</td>
<td>61</td>
<td>2011/04/25</td>
<td>$320,800</td>
</tr>-->
        </tbody>
    </table>
</div>
<div id="address-modals"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!--<script src="../../vendor/jquery-ui-1.12.1/jquery-ui.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

/*        $(document).ready(function() {
                    var accountTable = null;
                    $.ajax({
                        url: "accountColumns",
                        success: function(data) {
                            if (data) {*/
                                console.log("initializing table");
                                $("#accountTable").html(data);
                                console.log($("#accountTable").html());
                                accountTable = $('#accountTable').DataTable({
                                    processing: true,
                                    serverSide: true,
                                    ajax: {
                                        url: 'accounts',
                                        type: 'POST'
                                    },
                                    scrollY: "450px",
                                    scrollX: true,
                                    columns: [
                                                {"data": null,"defaultContent": "<span class='addrlink glyphicon glyphicon-eject'></span>","searchable": false,"sortable" : false},
                                                {'title': 'MDM Account Id','data': 'MDMACCOUNTID','name': 'MDMACCOUNTID','searchable':false},
                                                {'title': 'State','data': 'DAQAMETADATA_STATE','name': 'DAQAMETADATA_STATE','searchable':false},
                                                {'title': 'Cluster','data': 'DAQAMETADATA_CLUSTERID','name': 'DAQAMETADATA_CLUSTERID','searchable':false},
                                                {'title': 'Score(%)','data': 'DAQAMETADATA_SCORE','name': 'DAQAMETADATA_SCORE','searchable':false},
                                                {'title': 'Target record','data': 'DAQAMETADATA_TARGETRECORD_','name': 'DAQAMETADATA_TARGETRECORD_','searchable':false},
                                                {'title': 'Account Number','data': 'ACCOUNTNUMBER','name': 'ACCOUNTNUMBER','searchable':false},
                                                {'title': 'Account Name','data': 'ACCOUNTNAME','name': 'ACCOUNTNAME','searchable':false},
                                                {'title': 'Status','data': 'STATUS','name': 'STATUS','searchable':false},
                                                {'title': 'System Id','data': 'SYSTEMID','name': 'SYSTEMID','searchable':false},
                                                {'title': 'System Name','data': 'SYSTEMNAME','name': 'SYSTEMNAME','searchable':false},
                                                {'title': 'Customer Type','data': 'CUSTOMERTYPE','name': 'CUSTOMERTYPE','searchable':false},
                                                {'title': 'Registry Id','data': 'REGISTRYID','name': 'REGISTRYID','searchable':false},
                                                {'title': 'Alias','data': 'ALIAS','name': 'ALIAS','searchable':false},
                                                {'title': 'Name Pronunciation','data': 'NAMEPRONUNCIATION','name': 'NAMEPRONUNCIATION','searchable':false},
                                                {'title': 'Taxpayer Id','data': 'TAXPAYERID','name': 'TAXPAYERID','searchable':false},
                                                {'title': 'Tax Registration Number','data': 'TAXREGISTRATIONNUMBER','name': 'TAXREGISTRATIONNUMBER','searchable':false},
                                                {'title': 'Customer Category','data': 'CUSTOMERCATEGORY','name': 'CUSTOMERCATEGORY','searchable':false},
                                                {'title': 'Account Description','data': 'ACCOUNTDESCRIPTION','name': 'ACCOUNTDESCRIPTION','searchable':false},
                                                {'title': 'Region','data': 'REGION','name': 'REGION','searchable':false},
                                                {'title': 'Classification','data': 'CLASSIFICATION','name': 'CLASSIFICATION','searchable':false},
                                                {'title': 'Account Type','data': 'ACCOUNTTYPE','name': 'ACCOUNTTYPE','searchable':false},
                                                {'title': 'Sales Channel','data': 'SALESCHANNEL','name': 'SALESCHANNEL','searchable':false},
                                                {'title': 'Reference','data': 'REFERENCE','name': 'REFERENCE','searchable':false},
                                                {'title': 'NLS Language Code','data': 'NLSLANGUAGECODE','name': 'NLSLANGUAGECODE','searchable':false},
                                                {'title': 'Name Local Language','data': 'NAMELOCALLANGUAGE','name': 'NAMELOCALLANGUAGE','searchable':false},
                                                {'title': 'Customer Screening','data': 'CUSTOMERSCREENING','name': 'CUSTOMERSCREENING','searchable':false},
                                                {'title': 'Last Credit Review Date','data': 'LASTCREDITREVIEWDATE','name': 'LASTCREDITREVIEWDATE','searchable':false},
                                                {'title': 'Next Credit Review Date','data': 'NEXTCREDITREVIEWDATE','name': 'NEXTCREDITREVIEWDATE','searchable':false},
                                                {'title': 'Credit Review Cycle','data': 'CREDITREVIEWCYCLE','name': 'CREDITREVIEWCYCLE','searchable':false},
                                                {'title': 'Parent Party','data': 'PARENTPARTY','name': 'PARENTPARTY','searchable':false},
                                                {'title': 'Emg Last Trans','data': 'EMGLASTTRANS','name': 'EMGLASTTRANS','searchable':false},
                                                {'title': 'Grouping Description','data': 'GROUPINGDESCRIPTION','name': 'GROUPINGDESCRIPTION','searchable':false},
                                                {'title': 'Grouping Id','data': 'GROUPINGID','name': 'GROUPINGID','searchable':false},
                                                {'title': 'IXIA Classification','data': 'IXIACLASSIFICATION','name': 'IXIACLASSIFICATION','searchable':false},
                                                {'title': 'Profile Class','data': 'PROFILECLASS','name': 'PROFILECLASS','searchable':false}
                                    ],
                                    "initComplete": function(settings, json) {
                                            $('#searchTable :text').on('keyup', function (e) {
                                            if(e.keyCode == 13){
                                            console.log("enter hit:"+this.value);
                                                if (accountTable.column(this.id.replace('search-','')).search() != this.value) {
                                                    accountTable
                                                    .column(this.id.replace('search-',''))
                                                    .search( this.value )
                                                    .draw();
                                                }
                                             }
                                            });
                                     /*   $("#searchButton").on('click' , function(){
                                                console.log("button clicked:"+this.value);
                                                /*if(accountTable.column(3).search() != this.value){
                                                accountTable
                                                .column( 3 )
                                                .search( this.value )
                                                }
                                                if(accountTable.column(4).search() != this.value){
                                                accountTable
                                                .column( 4 )
                                                .search( this.value )
                                                .draw();
                                                }*/
                                                /*for(i = 0; i < 5;i++){
                                                    var textVal = $("#search-"+i).val();
                                                    console.log("form val:"+textVal);
                                                    console.log("colsrch val:"+accountTable.column(i).search());
                                                    if(accountTable.column(i).search() != textVal){
                                                        if(i!=4){
                                                            accountTable
                                                            .column(i)
                                                            .search(textVal);
                                                        }else{
                                                            accountTable
                                                            .column(i)
                                                            .search(textVal)
                                                            .draw();
                                                        }
                                                    }
                                                }*/
                                            //});

                                      $("#accountTable").on('click', '.addrlink', function(){
                                            var rowData = accountTable.cell(this.parentElement).data();
                                            var accountName = rowData["ACCOUNTNAME"];
                                            var mdmId = rowData["MDMACCOUNTID"];
                                            console.log(rowData);
                                            console.log(rowData["ACCOUNTNAME"]);
                                            console.log($('#'+mdmId+'-addresses').length);
                                            if($('#'+mdmId+'-addresses').length>0){}else{
                                                    $("#address-modals").append("<div id='"+mdmId+"-addresses' style='display: none'><b>Address</b></div>");
                                                    $.ajax({
                                                        url: "account/"+mdmId+"/address",
                                                        success: function(data){
                                                            $("#"+mdmId+'-addresses').html(data);
                                                        }
                                                    });
                                                    $("#"+mdmId+'-addresses').dialog({
                                                        height:'auto',
                                                        maxHeight: 750,
                                                        width:800,
                                                        title: accountName,
                                                        close: function(e,ui){
                                                            $(this).dialog('destroy').remove();
                                                        }
                                                    });
                                            }
                                       });
                                    } //init complete
                                }); //dataTable initialization

                        /*    } //if data close
                        }, //success close
                        error: function(e) {
                            alert("An error occurred");
                        }*/

                    }); //ajax column load
		});//document ready
                    /*]]>*/
    </script>


</body>

</html>